* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}
body{
  overflow-x: hidden;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: unset;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width:1440px){
  .container {
  max-width: 1000px;
  margin: 0 auto;
}
}
@media screen and (max-width:1024px){
  .container {
  max-width: 700px;
  margin: 0 auto;
}
}
@media screen and (max-width:768px){
  .container {
  max-width: 500px;
  margin: 0 auto;
}
}
@media screen and (max-width:545px){
  .container {
  max-width: 370px;
  margin: 0 auto;
}
}
@media screen and (max-width:425px){
  .container {
  max-width: 300px;
  margin: 0 auto;
}
}